{% extends 'includes/main.html' %}

{% load static %}
{% block title %} - Add food{%endblock title%}

{%block content%}


<div class="_container">

    <div class="card _shadow">
        <div class="card-header">Add new food</div>
        <div class="card-body">
            <form action="" method="post">

            {%csrf_token%}
            {{form.as_p}}


            <button type="submit" class="btn _btn w-100">SAVE</button>
            </form>
        </div>


        <div class="card-footer">
            <i class="bi bi-arrow-bar-up"></i>
        </div>
    </div>
</div>


{%endblock content%}