{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{table_order.created_at}} id: {{table_order.table.t_id}} |{{table_order.table.description}}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/base/ico.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<style>
   @page {
        size: letter portrait;
        @frame content_frame {
            left: 50pt;
            width: 250pt;
            top: 50pt;
            height: 300pt;
            -pdf-frame-border: 1;
        }
    }
</style>

<body>
    <div class="width=500px;height:auto;border:3px solid black;margin:0px auto;">
        {% for order in table_order.orders.all %}

            <p>Item: {{order.food.name}} | count: {{order.count}} | price {{order.get_price}} FT</p>

            <hr>

        {% endfor %}
        <p>TOTAL PRICE</p>
        <hr>
        <p style="text-align:right">{{table_order.get_price}} FT</p>
    </div>

</body>
</html>